<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pensador</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="auth/login">Login</a></li>
                <li><a href="auth/register">Register</a></li>
                <li><a href="/add">newthought</a></li>
                <li><a href="/mythoughts">myThoughts</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Todos os direitos resevados</p>
    </footer>
</body>
</html>